<div class="article-preview" *ngIf="!loading && list.length === 0">
  No articles are here... yet.
</div>

<div class="article-preview" *ngIf="loading">
  Loading articles...
</div>

<div class="article-preview" *ngFor="let article of list">
  <app-article-preview [article]="article"></app-article-preview>
</div>

<nav [hidden]="!list.length">
  <ul class="pagination">
    <li class="page-item" 
        [class.active]="pageNumber === listConfig.currentPage"
        *ngFor="let pageNumber of [].constructor(listConfig.totalPages); let i = index">
      <a class="page-link" (click)="setPageTo(i + 1)">{{ i + 1 }}</a>
    </li>
  </ul>
</nav>